<div class="container" id="contrat">
  <h1> Contrat de prestation de service</h1>
 <h3>Entre les soussignés :</h3>
 <p> Raison sociale du prestataire, forme juridique, montant de son capital
    social, adresse de son siège social, numéro d’immatriculation au RCS et ville où se trouve le greffe qui tient le RCS où il est immatriculé </p>
 <p>Représenté par [prénom et nom du représentant du prestataire, nature de sa fonction et date à laquelle il a été habilité à signer pour le compte de la société qu’il représente, prénom, nom et fonction de la personne qui l’a habilité]</p>
 <p> Ci-après désigné « le Prestataire »</p>
 <p> D’une part,
 Et :</p>
 <p>Raison sociale du client, forme juridique, montant de son capital social, adresse de son siège social, numéro d’immatriculation au RCS et ville où se trouve le greffe qui tient le RCS où il est immatriculé
 Représenté par [prénom et nom du représentant du client, nature de sa fonction et date à laquelle il a été habilité à signer pour le compte de la société qu’il représente, prénom, nom et fonction de la personne qui l’a habilité]
 Ci-après désigné « le Client »</p>
 <p> D’autre part,
 Il a été arrêté et convenu ce qui suit : 
 Article un - Nature de la mission
 Le Client confie au Prestataire une mission consistant à répondre aux besoins suivants :
 [Indiquer les besoins du client et les services que le prestataire s'engage à fournir pour y répondre].
 Le cas échéant : </p>
 <p> Dans le cadre de cette mission, le Prestataire s'engage à mettre ses collaborateurs à la disposition du Client si cela est nécessaire pour la bonne exécution de la mission. Cependant, lesdits salariés resteront sous l'autorité et sous la responsabilité du Prestataire pendant leur intervention chez le Client. 
 Article deux - Prix et modalités de paiement</p>
 <h3> Au choix selon le cas :</h3>
  <p>   • Le Client s’engage à payer au Prestataire un prix total de [x] € hors taxes payable selon l’échéancier suivant : 
         ◦ [x] € hors taxes lors de la signature du présent contrat,
         ◦ [x] € hors taxes en fin de mission.</p>
    <p> • Le Client s'engage à payer un prix fixé en fonction d'un tarif horaire de [x] € hors taxes.</p>
 
 <p> D’autre part, il s’engage à rembourser au Prestataire les éventuels frais de déplacement ou de séjour à l’hôtel qui seraient nécessités pour l’exécution de la mission. Ces frais seront engagés après accord écrit du Client et ils devront être remboursés sur présentation des justificatifs.</p>
 <h3> Article trois - Obligations du Prestataire</h3>
 <p> Il est rappelé que le Prestataire est tenu à une obligation de moyens. Il doit donc exécuter sa mission conformément aux règles en vigueur dans sa profession et en se conformant à toutes les données acquises dans son domaine de compétence.</p>
 <p> Il reconnaît que le Client lui a donné une information complète sur ses besoins et sur les impératifs à respecter.</p>
 <p>Il s'engage à se conformer au règlement intérieur et aux consignes de sécurité applicables chez le Client.</p>
 <p>Enfin, il s’engage à observer la confidentialité la plus totale en ce qui concerne le contenu de la mission et toutes les informations ainsi que tous les documents que le Client lui aura communiqués.</p>
 <p>Article quatre - Obligations du Client</p>
 <p>Afin de permettre au Prestataire de réaliser la mission dans de bonnes conditions, le Client s’engage à lui remettre tous les documents nécessaires dans les meilleurs délais.</p>
 <h3>Article cinq – Responsabilité</h3>
 <p> La responsabilité du Prestataire ne pourra être mise en cause qu'en cas de manquement à son obligation de moyens. En outre, le Client ne pourra pas l'invoquer dans les cas suivants : 
     • s'il a omis de remettre au Prestataire un document ou une information nécessaire pour la mission,
     • en cas de force majeure ou d'autres causes indépendantes de la volonté du Prestataire.</p>
 <h3> Article six - Droit applicable et juridiction compétente </h3>
 <p> Le présent contrat est assujetti au droit français. Tout litige qui résulterait de son exécution sera soumis aux tribunaux dont dépend le siège social du Prestataire.</p>
 
 Fait le [date] en deux exemplaires à [ville]
 
 Le Prestataire
 [nom du signataire]
 [signature]
 Le Client
 [nom du signataire]
 [signature]
 </div>
 <button   class="btn btn-primary btn-lg" (click)="downloadPdf()">pdf</button>
 